/*
// *******************************
// Script creado por Alexis Mengual y Rafa Juan
// *******************************
*/
body{
	background-image: url("../img/foterminal.jpg");
 	background-color: black;
 	background-size: cover;
 	background-repeat: no-repeat;
}
p, table, tr, td{
	color: #00F501;
    font-family: 'Share Tech Mono', monospace;
    font-size: 95%;


}
.code{
	padding-right: 15px;
}

.table{

	float: left;

}

#container{
	display:flex;
	width: 70%;
	margin: 0 auto;
	margin-left: 30%;
	margin-top: 13%;
}

.span{
	background-color: #00F501;
	color: black;
}

#promptTable{
	margin-left:-50%;
	height:100%;
}

.tdTable{
    vertical-align:bottom;
}
#prompt{
	margin-top:11%;
}

