body{
	/*background-image: url("../img/foterminal.jpg");*/
 	background-color: black;
 	background-size: cover;
 	background-repeat: no-repeat;
}
p, table, tr, td{
	color: #00F501;
    font-family: 'Share Tech Mono', monospace;
    font-size: 100%;


}
.code{
	padding-right: 15px;
}

.table{
	/*
	float: center;
*/
}

#container{
	display:flex;
	width: 100%;
	margin: 0 auto;
	margin-left: 30%;
	margin-top: 13%;

}