/*
// *******************************
// Script creado por Alexis Mengual y Rafa Juan
// *******************************
*/
*{
  margin: 0 auto;
  padding: 0;
}

body{
 	background-color: black;
}

p, table, tr, td{
  color: #00F501;
  font-family: 'Share Tech Mono', monospace;
}

#container{
	display:flex;
	position:absolute;
	top: 25%;
	left:35%;
}

.code{
	padding-right: 15px;
}

.table{
  margin-top: 15px;
	float: left;
}

.span:hover{
	background-color: #00F501;
	color: black;
  cursor: pointer;
  transition: .2s;
}

#promptTable{
	height:100%;
	display:block;
}

.tdTable{
    vertical-align:bottom;
}


@media (min-width: 14in){
	body{
		background-image: url("../img/foterminal.jpg");
 		background-size: 100%;
 		background-repeat: no-repeat;
	}
	p, table, tr, td{
    	font-size: 1vw;
	}
	#prompt{
		margin-top:3%;
	}
}

@media (max-width: 14in) and (min-width: 13in){
	body{
		background-image: url("../img/foterminal.jpg");
 		background-size: 100%;
 		background-repeat: no-repeat;
	}

	p, table, tr, td{
    	font-size: 0.8vw;
	}

	.trtable{
		margin-top:10px;
	}


}
@media (max-width:13in){

	p, table, tr, td{
    	font-size: 1vw;
	}

	#prompt{
		margin-top:8%;
	}

	#container{
		display:flex;
		position:absolute;
		top: 10%;
		left:35%;
	}

}
