body{
	background-image: url("../img/foterminal.jpg");
 	background-color: black;
 	background-size: cover;
 	background-repeat: no-repeat;
}
p, table, tr, td{
	color: #00F501;
    font-family: 'Share Tech Mono', monospace;
    font-size: absolute;



}
.code{
	padding-right: 15px;
}
#divTable{
	margin:0 auto;
	width: 40%;
	margin-top: 10% !important;

}
/*
#divImage{
	background-size: 100%
}
*/