/*
// *******************************
// Script creado por Alexis Mengual y Rafa Juan
// *******************************
*/
body{
	background-image: url("../img/foterminal.jpg");
 	background-color: black;
 	background-size: 100%;
 	background-repeat: no-repeat;
}
p, table, tr, td{
	color: #00F501;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1vw;


}
.code{
	padding-right: 15px;
}

.table{
	
	float: left;

}

#container{
	display:flex;
	/*
	width: 100%;
	margin: 0 auto;
	margin-left: 35%;
	margin-top: 12%;
	*/
	position:absolute;
	top: 25%;
	left:35%;


}

.span{
	background-color: #00F501;
	color: black;
}

#promptTable{
	height:100%;
}

.tdTable{
    vertical-align:bottom;
}

#prompt{
	/*margin-top:1%;*/
}




