*, ::after, ::before{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body{
  background: #000;
  border: 12px solid #222;
  position: relative;
  z-index: 5;
}

body::before{
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0.01em;
  left: 0.01em;
  right: 0.01em;
  bottom: 0.01em;
  border: 7px solid #282828;
}

table{
  margin-left: 0;
  margin-right:0.8vw;
}

input{
  box-shadow: none!important;
  outline: none!important;
}

.container{
  color: #00F501;
  font-family: 'Share Tech Mono', monospace;
  padding: 15px;
  width: 90%;
  position:relative;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.justify-content-center{
  justify-content: center!important;
}

.col{
  flex-basis: 0;
  flex-grow: 1;
}

.md-12, .md-3{
  margin-left: 0;
}

.hover{
  background: #00F501;
  color: black;
  cursor: pointer;
}

.menu{
  color: #00F501;
  font-family: 'Share Tech Mono', monospace;
  padding: 15px;
  position:relative;
  z-index: 1;

}
.inner{
  position: relative;
  z-index:1;
}

a, .menu a{
  background: #00F501;
  color: black;
  text-decoration: none;
  padding: 10px;
  display: block;
  width: 200px;
  margin-bottom: 5px;
  text-align:center;
  text-transform: uppercase;
  font-weight: bold;
  transition: .3s;
}

a, .menu a:hover{
  background: #00c900;
  transition: .3s;
}

#prompt{
  display: flex;
  margin-left: 5px;
}

#prompt > div{
  align-self: flex-end;
  word-break: break-all;
}

#prompt .card{
  margin: 0;

}

#prompt .input-prompt{
  background: transparent;
  border: 0;
  color: #00F501;
  text-transform: uppercase;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1em;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.cascade{
  position: absolute;
  background: rgba(0,245,1,0.75);
  background: -moz-linear-gradient(top, rgba(0,245,1,0.75) 0%, rgba(0,245,1,0.69) 10%, rgba(0,245,1,0.69) 35%, rgba(210,255,82,0.69) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,245,1,0.75)), color-stop(10%, rgba(0,245,1,0.69)), color-stop(35%, rgba(0,245,1,0.69)), color-stop(100%, rgba(210,255,82,0.69)));
  background: -webkit-linear-gradient(top, rgba(0,245,1,0.75) 0%, rgba(0,245,1,0.69) 10%, rgba(0,245,1,0.69) 35%, rgba(210,255,82,0.69) 100%);
  background: -o-linear-gradient(top, rgba(0,245,1,0.75) 0%, rgba(0,245,1,0.69) 10%, rgba(0,245,1,0.69) 35%, rgba(210,255,82,0.69) 100%);
  background: -ms-linear-gradient(top, rgba(0,245,1,0.75) 0%, rgba(0,245,1,0.69) 10%, rgba(0,245,1,0.69) 35%, rgba(210,255,82,0.69) 100%);
  background: linear-gradient(to bottom, rgba(0,245,1,0.75) 0%, rgba(0,245,1,0.69) 10%, rgba(0,245,1,0.69) 35%, rgba(210,255,82,0.69) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f501', endColorstr='#d2ff52', GradientType=0 );
  filter:blur(6px);
  width: 90%;
  top: 0;
  height: 10px;
  animation: cascade 7s linear infinite;
}
@keyframes cascade {
  100%{
    opacity: 0.1;
    top:100%;
  }
  75%{
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  25%{
    top:0%;
    opacity: 0.2;
  }

  0%{
    opacity: 0;
  }
}


.imgWin{
  /*animation: zooming 2s linear infinite;*/
  filter:sepia() saturate(830%) hue-rotate(51deg);
  display:block;
  margin:0 auto;
}
.imgLose{
  filter:sepia() saturate(830%) hue-rotate(51deg);
  display:block;
  margin:0 auto;
}
@keyframes zooming{
  50%{
    width: 35%;
  }
  }}


  @media (min-width: 960px){
    body{
      background-image: url("../img/terminal-sm.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      border: 0;
    }

    body::before{
      border: 0;
    }

    .container{
      margin-top: 5%;
      width: 70%;
      padding: 25px;
    }

    .menu{
      margin-top:30%;
      margin-left: 10%;
      margin-right: 10%;
    }

    .menu a{
      font-size: 1em;
    }
  }

  @media (min-width: 1200px){
    body{
      background-image: url("../img/terminal-sm.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      border: 0;
    }

    body::before{
      border: 0;
    }

    .container{
      margin-top: 10%;
      width: 70%;
      padding: 25px;
      font-size: 1.1em;
    }
    .menu{
      margin-top:25%;
      margin-left:25%;
      margin-right:25%;
    }
    .menu a{
      font-size: 1em;
    }
    .cascade{
      width: 100%;
    }

  }

  @media (min-width: 1400px){
    body{
      background-image: url("../img/foterminal.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      border: 0;
    }

    body::before{
      border: 0;
    }

    .container{
      margin: 12% 27%;
      padding: 35px;
      font-size: 1vw;
      width: auto;

    }

    #terminal-table.md-3{
      margin: 0;
      position:relative;
    }

    .col{
      flex-basis: initial!important;
      flex-grow: initial!important;
    }


    .cascade{
      width: 92%;
    }


    table{
      float: left;
    }
  }
